@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Lobster&family=Montserrat:wght@100;400;600&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Roboto:wght@900&family=Sofia&display=swap');

.font-gaegu{
	font-family: 'Gaegu', cursive;
}

.font-lobster{
	font-family: 'Lobster', cursive;
}

.font-montserrat{
	font-family: 'Montserrat', sans-serif;
}

.font-opensans{
	font-family: 'Open Sans', sans-serif;
}

.font-roboto{
	font-family: 'Roboto', sans-serif;
}

.font-sofia{
	font-family: 'Sofia', cursive;
}

.font-bold {
	font-style: bold !important;
}